body {
  background: url("../images/allsports.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.questionContainer {
  max-width: 40%;
  height: 100%;
  margin-top: 5%;
  margin-left: 30%;
  background-color: grey;
  font-size: 1.5em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: black;
  border-spacing: 1em;
  padding: 1% 1% 1% 1%;
  background-color: white;
  opacity: 0.8;
}

h1 {
  margin-left: 40%;
  margin-right: 40%;
  padding: 1% 1% 1% 1%;
  border-style: ridge;
  border-spacing: 1em;
  border-color: red;
  border-radius: 1em;
  background-color: black;
  color: white;
  text-align: center;
}

/*
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: #38a;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
*/
